.dark-mode{
    background-color: #151419;
    color: #FFFFFF;
}

.dark-mode nav {
    background: #161517;
    
}

.dark-mode-parent {
    background-color:#151419;
    min-height: 100%;
}
.dark-mode section {
    color: #FFFFFF;
}
.dark-mode div {
    color: white;
}